body{
  margin: 0;
  padding: 0;
}

.full-width{
  width     : 100%; 
  height    : 100vh; 
  background-size: cover;
  text-align: 100% 100%;
}
.medium-screen{
  width     : 50%; 
  height    : 100vh; 
  background-size: cover;
  text-align: 100% 100%;
}

.portada--foto{
    opacity: 0.2;
}

.portada--foto__inverse{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.portada--font__big{
	font-size: 30rem;
	color: grey;
	font-family: 'Black Ops One', cursive;
}


.portada--titles__primary{
  margin-top: -1%;
  font-size: 2rem;
}

.portada--titles__secundary{
  margin-top: -1%;
  font-size: 1.5rem;
  font-weight: 600;
}

.portada--titles__secundaryP3{
    margin-left: 15px;
}

.titles--colors__grey{
  color: grey;
}

.portada--logo__center{
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
}
 
.portada--logo__left{
  left: 25%;
  bottom: 0;
}

.portada--fixed-Under{
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 0%;
  width: 100%;
  align-items: center;
}
.logo{
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
}

.logo-inverse{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.circl{
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid white 5px;
  background: transparent;
  margin-top: -10%;
}

.circle--max {
     width: 265px;
     height: 265px;
     
}

.circle--medium {
     width: 230px;
     height: 230px;
     
}
.circle--min{
	width: 195px;
  height: 195px;
}

.menu {
  border: solid 2px white;
  padding: 1%;
}

.flecha{
  display: inline-block;
  margin: auto;
}

.m-l{
  margin-left: 10%;
}

.m-r{
  margin-left: -10%;
}

.letters--letter-J{
  transform: translate(-45%, 0%);
}

.letters--letter-D{
  transform: translate(45%, 0%);
}

.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 40px;
}

.fixed-action-btn ul li {
    margin-bottom: 50%;
}

.btn-floating {
    width: 100px;
    height: 40px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.section-titles{
  position: absolute;
  top: 10%; 
  left: 46%;
  transform: translate(-50%, -50%);
}

.section-titles_size{
  font-size: 6vw;
}

p{
  text-align: justify;
}
.cv{
  border: 2px white solid;
  padding: 10%;
  cursor: pointer;
}
.cv:hover{
  color: black;
  background-color: white;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: none;
}

.z-depth-1-half, .btn:hover, .btn-large:hover, .btn-floating:hover {
    box-shadow: none;
}

.btn-floating{
  border-radius: 0%;
}

.m-bottom{
  margin-bottom: 5%;
}

.maquetacion, .apis, .responsividad, .colaborativo{
  cursor: pointer;
}

.border{
  border:solid 1px black;
}

.circle{
  border: solid 1px black;
}
.grises img {
filter: url('#grayscale'); /* Versión SVG para IE10, Chrome 17, FF3.5, Safari 5.2 and Opera 11.6 */
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
filter: Gray(); /* IE4-8 and 9 */

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.grises img:hover { 
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: none;

-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}
.invert{
      filter: invert(100%);
}
.invert:hover{
      filter: invert(0%);
}

.line-bottom{
  padding-bottom: 5%;
  border-bottom: solid 2px white;
}

.m-t{
  margin-top: 15%
}