<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://use.fontawesome.com/75919d6994.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <title>Contacto</title>
  </head>
  <body class="">
    
    
      <section id="contacto" class="full-width white">
        <div class="fixed-logo logo-inverse"> <a href="../index.html" class="inicio"><img src="../img/logo7IJD.png" alt="logo" width="64px" ></a></div>
        <div class="row portada--logo__center">
          <h2 class="section-titles_size center" id="contacto-text">Contacto</h2>
        </div>
        <div class="row hide" id="personal-contacto">
          <div id="contacto-desktop" class="col s10 offset-s1 hide-on-small-only" >
            <div class="row portada--logo__center">
              <div class="col s3 center">
                <a href="tel:5536512594" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="55 36 51 25 94">
                  <img src="../img/logos/phone.png" class="responsive-img" alt="teléfono">
                </a>
              </div>
              <div class="col s3 center">
                <a href="mailto:itzeljimenez.do@gmail.com" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="itzejimenez.do@gmail.com">
                  <img src="../img/logos/mail.png" class="responsive-img" alt="correo"> 
                </a>
              </div>
              <div class="col s3 center">
                <a href="https://www.linkedin.com/in/itzel-jim%C3%A9nez-dom%C3%ADnguez-b947b7145/" target="_blank"  class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Itzel Jiménez Domínguez">
                    <img src="../img/logos/linkedin.png" class="responsive-img" alt="linkedin">
                  </a>
              </div>
              <div class="col s3 center">
                <a href="https://github.com/itzelJimenez" target="_blank" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="itzeljimenez">
                    <img src="../img/logos/github.png" class="responsive-img" alt="github">
                  </a>
              </div>
            </div>
          </div>
          <div id="contacto-mobile" class="show-on-small hide-on-med-and-up full-width valign-wrapper" >
            <div class="row" style="margin-top: 40%;">
              <h4 class="center" style="margin-bottom: 15%">Itzel Jiménez</h4>
              <div class="row center">
                <div class="row">
                  <div class="col s1 offset-s3 center"><a href="tel:5536512594"><i class="fa-3x fa fa-mobile black-text" aria-hidden="true"></i></a></div>
                  <div class="col s7 offset-s1"><a href="tel:5536512594" class="black-text left">55 36 51 25 94</a></div>
                </div>
                <div class="row">
                  <div class="col s1 offset-s3 center"><a href="mailto:itzeljimenez.do@gmail.com"><i class="fa-2x fa fa-envelope black-text" aria-hidden="true"></i></a></div>
                  <div class="col s7 offset-s1"><a href="mailto:itzeljimenez.do@gmail.com" class="black-text left">itzeljimenez.do@gmail.com</a></div>
                </div>
                <div class="row">
                   <div class="col s1 offset-s3 center"><a href="https://www.linkedin.com/in/itzel-jim%C3%A9nez-dom%C3%ADnguez-b947b7145/" target="_blank"><i class="fa-2x fa fa-github black-text" aria-hidden="true"></i></a></div>
                  <div class="col s7 offset-s1"><a href="https://www.linkedin.com/in/itzel-jim%C3%A9nez-dom%C3%ADnguez-b947b7145/" class="black-text left" target="_blank">Ir a mi linkedin</a></div>
                </div>
                <div class="row">
                  <div class="col s1 offset-s3 center"><a href="https://github.com/itzelJimenez" target="_blank"><i class="fa-2x fa fa-linkedin black-text" aria-hidden="true"></i></a></div>
                  <div class="col s7 offset-s1"><a href="https://github.com/itzelJimenez" class="black-text left" target="_blank">Ir a mi github</a></div> 
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class=" portada--fixed-Under">
          <a class="flecha portada--font__title" href="../index.html"><i class="fa fa-angle-up fa-4x black-text" aria-hidden="true"></i></a>
        </div>
        <div class="menu-blanco fixed-action-btn hide-on-small-only">
          <a class="btn-floating white" href="#"><i class="fa fa-bars grey-text  fa-3x black-text" aria-hidden="true"></i></a>
          <ul>
            <li><a class="btn-floating white tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inicio" href="../index.html"><i class="fa fa-home black-text" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating white white-text tooltipped sobre-mi" data-position="bottom" data-delay="50" data-tooltip="Sobre mi" href="sobremi.html"><i class="fa fa-address-card-o black-text" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating white tooltipped habilidades" data-position="bottom" data-delay="50" data-tooltip="Habilidades" href="habilidades.html"><i class="material-icons black-text">build</i></a></li>
            <li><a class="btn-floating white tooltipped proyectos" data-position="bottom" data-delay="50" data-tooltip="Proyectos" href="proyectos.html"><i class="fa fa-code black-text" aria-hidden="true"></i></a></li>
          </ul>
        </div>

        <div class="hide-on-med-and-up menu-mobile">
            <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
              <div class="">
                <img src="../img/menu/imagenmenu.png" class="responsive-img">
              </div>
              
              <a href="views/sobremi.html" class="center"><strong class="black-text name">Itzel Jiménez / Front end Developer</strong></a>
              <hr>
            </div></li>
            <li><a href="../index.html"><i class="fa fa-home fa-2x " aria-hidden="true"></i>    Inicio</a></li>
            <li><div class="divider"></div></li>
            <li><a href="sobremi.html"><i class="fa fa-address-card-o fa-2x " aria-hidden="true"></i>    Sobre mi</a></li>
            <li><div class="divider"></div></li>
            <li><a href="habilidades.html"><i class="material-icons">build</i>    Habilidades</a></li>
            <li><div class="divider"></div></li>
            <li><a href="proyectos.html"><i class="fa fa-code fa-2x " aria-hidden="true"></i>    Proyectos</a></li>
            <li><div class="divider"></div></li>
            <li class="grey"><a href="contacto.html"><i class="fa fa-envelope-o fa-2x " aria-hidden="true"></i>    Contacto</a></li>
            <li><div class="divider"></div></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse fixed-action-mobile white " style="padding: 1%;"><i class="fa fa-bars grey-text  fa-3x black-text" aria-hidden="true"></i></a>
        </div>


      </section>

    <script src="../js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="../js/materialize.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/contacto.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
