<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/main.css">
    <script src="https://use.fontawesome.com/75919d6994.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <title>Sobre mi</title>
  </head>
  <body class="">
     <section id="sobre-mi" class="full-width black ">
        <div class="logo logo-inverse"> <a href="../index.html" class="inicio"><img src="../img/logo7IJD.png" alt="logo" width="64px" class="inicio"></a></div>
        <div class="row">
          <div class="col s6 medium-screen white">
            <h2 class="section-titles_size right">Sobre </h2>
            <div class="row center">
              <img src="../img/imagen.png" alt="Itzel Jiménez Domínguez" class="responsive-img ">
            </div>
          </div>
          <div class="col s6 medium-screen black">
            <h2 class="section-titles_size"><span class="white-text">mí</span></h2>
            <div class="row">
              <div class="col s6 offset-s3 white-text">
                <p>Mi nombre es Itzel y soy Desarrolladora Front-end. Me encanta programar y siempre estoy a la expectativa de aprender todo lo que sea posible sobre tecnologías, diseño y por supuesto, código.</p>
                <div class="row">
                  <div class="col s4 offset-s4 ">
                    <a class="btn white black-text" href="https://drive.google.com/file/d/0B2oschLe2G0-WE5WS0kyUlFmci1tMHo2MV9nOENHLWJNeFRn/view?usp=sharing" target="_blank"><i class="fa fa-download black-text" aria-hidden="true"></i> Descargar C V</a>
                  </div> 
                </div>
              </div>
             
            </div>
          </div>
        </div>
        <div class="row">
          

          <div class=" portada--fixed-Under">
          <a class="flecha portada--font__title habilidades" href="habilidades.html"><i class="fa fa-angle-down fa-4x grey-text" aria-hidden="true"></i></a>
        </div>
        <div class="menu fixed-action-btn">
          <a href="#"  class="btn-floating black"><i class="fa fa-bars grey-text  fa-3x " aria-hidden="true"></i></a>
          <ul>
            <li><a class="btn-floating black white-text tooltipped " data-position="bottom" data-delay="50" data-tooltip="Inicio" href="../index.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating black tooltipped " data-position="bottom" data-delay="50" data-tooltip="Habilidades" href="habilidades.html"><i class="material-icons">build</i></a></li>
            <li><a class="btn-floating black tooltipped " data-position="bottom" data-delay="50" data-tooltip="Proyectos" href="proyectos.html"><i class="fa fa-code" aria-hidden="true"></i></a></li>
            <li><a class="btn-floating black tooltipped " data-position="bottom" data-delay="50" data-tooltip="Contacto" href="contacto.html"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          </ul>
        </div>
        </div>
      </section>

      <script src="../js/jquery-3.2.1.min.js" charset="utf-8"></script>
    <script src="../js/materialize.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
